/* whole section  */
/* .user-all-reviews-section {
    display: flex;
    flex-direction: column;
    max-width: 1120px;
    justify-content: center;
    margin: auto;
    color: #222222;
    font-family: Roboto, sans-serif;
}

.user-reviews-section-title {
    font-weight: bold;
    margin-top: 40px;
    margin-bottom: 10px;
    font-size: 86px;
}


.user-reviews-each-review {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 40px;
    padding-top: 20px;
    border-top: 1px solid rgb(210, 210, 210);
} */
