.all-spots-container {
    min-height: calc(100vh - 160px);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 70px;
}


.all-spots-list {
    width: auto;
    max-width: 2400px;
    padding: 10px 5px;
    margin: 10px 5px;
    /* font-family: 'Montserrat', 'Nunito Sans', 'Circular', 'Apple System', 'BlinkMacSystemFont', 'Roboto', 'Helvetica Neue', sans-serif; */
    font-family: 'Nunito Sans', 'Circular', 'Apple System', 'BlinkMacSystemFont', 'Roboto', 'Helvetica Neue', sans-serif;
    color: #222222;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}

@media (max-width: 2100px) {
    .all-spots-list {
        grid-template-columns: repeat(5, 1fr);
    }
}

@media (max-width: 1600px) {
    .all-spots-list {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (max-width: 1300px) {
    .all-spots-list {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 1000px) {
    .all-spots-list {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 700px) {
    .all-spots-list {
        grid-template-columns: repeat(1, 1fr);
    }
}

.spot-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 300px;
    height: auto;
    padding: 5px;
    margin: 10px 5px 5px 5px;
}

.spot-card .spot-image {
    width: 100%;
    height: 65%;
    display: flex;
    justify-content: center;

}

.spot-image-size {
    width: 300px;
    height: 300px;
    padding: 5px;
    border-radius: 20px;
    object-fit: cover;
}

.spot-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 38%;
    padding: 5px;
    margin: 5px;
    text-decoration: none;
}

.spot-info-1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.all-spots-list .spot-info .spot-info-1 {
    font-weight: bold;
}

.spot-title-info span {
    font-weight: normal;
}

.spot-info-2 span {
    font-weight: bold;
}

.all-spots-list a:link,
.all-spots-list a:visited,
.all-spots-list a:hover,
.all-spots-list a:active {
    text-decoration: none;
    color: #222222;
}


.all-spots-map-container {
    text-decoration: none;
    width: 94px;
    height: 18px;
    padding: 14px 16px;
    background-color: #222222;
    border: 1px solid #222222;
    border-radius: 24px;
    display: flex;
    flex-direction: row;
    color: #ffffff;
    font-size: 14.5px;
    font-weight: bold;
    justify-content: space-between;
    align-items: center;
    transform: scale(1);
    transition: transform 0.2s;
    position: fixed;
    bottom: 100px;
}

.all-spots-map-container:hover {
    transform: scale(1.03);
}

.all-spots-map-container img {
    width: 20px;
    height: 16px;
    margin-top: 1px;
}
