.onespot-calendar-container {
    display: flex;
    flex-direction: row;
}


.onespot-calendar2 .rdrNextPrevButton.rdrPprevButton {
    display: none;
}

.onespot-calendar1 .rdrNextPrevButton.rdrNextButton {
    display: none;
}
