.spot-reviews-bottom-section {
    display: flex;
    flex-direction: row;
    width: 1136px;
    flex-wrap: wrap;
}

.each-spot-review {
    display: flex;
    flex-direction: column;
    width: 457px;
    padding: 0 8px;
    margin-bottom: 40px;
    margin-right: 95px;
    /* border-top: 1px solid rgb(210, 210, 210); */
}

.each-spot-review-firstName {
    font-size: 16px;
    font-weight: bold;
}

.each-spot-review-createTime {
    font-size: 14px;
    color: #717171;
    margin-bottom: 16px;
}

.each-spot-review-review {
    font-size: 16px;
}
